table, tr, td {
	margin: 0;
	padding: 0;
	border: 0;
}

.listing {
	width: 100%;
	border: 1px solid #ccc;
	border-collapse: collapse;
}

.d1 {
	background-color: #eee;
}

.listing td {
	padding: 2px;
}

